.red-button{
  background-color:  #8b0000;
  color: white;
  margin-top: 1em;
}

.submit-data-dialog{
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 40%;
}


table {
  width: 100%;
  background-color:#f7f7f7;
}

